<ngt-group [position]="offsetBy(0,0,0)" [scale]="scale">

  <ngt-mesh
    #mesh="ngtMesh"
    [position]="[0,0,-0.005]"
    [castShadow]="true"
    [receiveShadow]="true"
  >

    <ngt-extrude-geometry [args]="[
  shapeBase,
    {
      steps: 1,
      depth: 0.01,
      bevelEnabled: false
    }]"></ngt-extrude-geometry>

    <ngt-mesh-physical-material
      [parameters]="{
     color: 'white',
     transparent: true,
     opacity: 0.7,
     transmission: 0.4,
     roughness: 0.9,
     clearcoat: 1,
     side: '' | side:'double'
     }"
    ></ngt-mesh-physical-material>
  </ngt-mesh>


  <ngt-mesh
    #mesh2="ngtMesh"
    [position]="[0,0,-0.01]"
    [castShadow]="true"
    [receiveShadow]="true"
  >

    <ngt-extrude-geometry [args]="[
  shapeBorder,
    {
      steps: 1,
      depth: 0.02,
      bevelEnabled: false
    }]"></ngt-extrude-geometry>

    <ngt-mesh-physical-material
      [parameters]="{
     color: 'cornflowerblue',
     transparent: true,
     opacity: 0.7,
     transmission: 0.4,
     roughness: 0.9,
     clearcoat: 1,
     side: '' | side:'double'
      }"
    ></ngt-mesh-physical-material>
  </ngt-mesh>

  <app-content [position]="[0,-0.175 + 0 * 0.1,0.02]" [scale]="0.05"></app-content>
  <app-content [position]="[0.1,-0.175 + 1 * 0.1,0.02]" [scale]="0.05"></app-content>
  <app-content [position]="[0,-0.175 + 1 * 0.1,0.02]" [scale]="0.05"></app-content>
  <app-content [position]="[-0.05,-0.175 + 2 * 0.1,0.02]" [scale]="0.05"></app-content>
  <app-content [position]="[0.05,-0.175 + 2 * 0.1,0.02]" [scale]="0.05"></app-content>
  <app-content [position]="[-0.05,-0.175 + 3 * 0.1,0.02]" [scale]="0.05"></app-content>

  <app-content-link [startPosition]="[0,-0.175 + 0 * 0.1 + 0.025,0.0265]" [endPosition]="[0.1,-0.175 + 1 * 0.1 - 0.025,0.0265]" [direction]="[0,1,0]" [thickness]="0.0025"></app-content-link>
  <app-content-link [startPosition]="[0,-0.175 + 0 * 0.1 + 0.025,0.0265]" [endPosition]="[0,-0.175 + 1 * 0.1 - 0.025,0.0265]" [direction]="[0,1,0]" [thickness]="0.0025"></app-content-link>
  <app-content-link [startPosition]="[0,-0.175 + 1 * 0.1 + 0.025,0.0265]" [endPosition]="[-0.05,-0.175 + 2 * 0.1 - 0.025,0.0265]" [direction]="[0,1,0]" [thickness]="0.0025"></app-content-link>
  <app-content-link [startPosition]="[0,-0.175 + 1 * 0.1 + 0.025,0.0265]" [endPosition]="[0.05,-0.175 + 2 * 0.1 - 0.025,0.0265]" [direction]="[0,1,0]" [thickness]="0.0025"></app-content-link>
  <app-content-link [startPosition]="[-0.05,-0.175 + 2 * 0.1 + 0.025,0.0265]" [endPosition]="[-0.05,-0.175 + 3 * 0.1 - 0.025,0.0265]" [direction]="[0,1,0]" [thickness]="0.0025"></app-content-link>

</ngt-group>
